# ##############################################################################

# iCEcube PCF

# Version:            2017.08.27940

# File Generated:     Feb 11 2018 16:43:34

# Family & Device:    iCE40HX1K

# Package:            TQ144

# ##############################################################################

###IOSet List 2

set_io clock_12mhz 21
set_io led_green 95

